<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Register</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "user_app/style.css" %}' />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Test App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-itm">
                    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-itm">
                    <a class="nav-link" href="/user/{{ user.id }}/show">Profile</a>
                </li>
            </ul>
        </div>
        <a href="/login">Sign In</a>
    </nav>
    <div class="container">
    <h2>Add a new user</h2>
    <a class="btn btn-primary" href="/admin/dashboard">Return to Dashboard</a>
    <form action="/admin/process_add" method="POST">
        {% csrf_token %}
        {% if errors.email %}
            <p>{{ errors.email }}</p>
        {% endif %}
        <div class="form-group">
            <label class="row">Email Address</label>
            <input class="row col-sm-6 form-control" type="text" name="email">
        </div>
        {% if errors.first_name %}
            <p>{{ errors.first_name }}</p>
        {% endif %}
        <div class="form-group">
            <label class="row">First Name</label>
            <input class="row col-sm-6 form-control" type="text" name="first_name">
        </div>
        {% if errors.last_name %}
            <p>{{ errors.last_name }}</p>
        {% endif %}
        <div class="form-group">
            <label class="row">Last Name</label>
            <input class="row col-sm-6 form-control" type="text" name="last_name">
        </div>
        {% if errors.password %}
            <p>{{ errors.password }}</p>
        {% endif %}
        <div class="form-group">
            <label class="row">Password</label>
            <input class="row col-sm-6 form-control" type="password" name="password">
        </div>
        <div class="form-group">
            <label class="row">Password Confirmation</label>
            <input class="row col-sm-6 form-control" type="password" name="password_cf">
        </div>
        <input class="btn btn-success" type="submit" value="Create">
    </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>