<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'user_app/style.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Test App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-itm active">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <a href="/login">Sign In</a>
    </nav>

    <div class="jumbotron">
        <h1>Welcome to the Test</h1>
        <p>Landlubber or just lubber hogshead swing the lead loaded to the gunwalls piracy sloop interloper six pounders yo-ho-ho coxswain. Scurvy landlubber or just lubber fluke measured fer yer chains Privateer jib loaded to the gunwalls Corsair smartly blow the man down. </p>
        <a href="/login" class="btn btn-primary none">Start</a>
    </div>
    <div class="flex-container row">
    <div class="col none">
        <h3>Manage Users</h3>
        <p>Shrouds jury mast run a rig grog scourge of the seven seas bucko flogging. Hardtack ahoy sutler spike chase guns Sink me pinnace. Hail-shot scourge of the seven seas bilge rat nipperkin transom main sheet rope's end.</p>
    </div>
    <div class="col none">
        <h3>Leave messages</h3>
        <p>Pressgang plunder belaying pin nipperkin hogshead starboard clipper. Loot careen nipperkin lass coffer American Main Gold Road. Log lugsail square-rigged reef sails jack weigh anchor pillage.</p>
    </div>
    <div class="col none">
        <h3>Edit User Information</h3>
        <p>Galleon port schooner Blimey crimp man-of-war lanyard. Gabion black jack bilge water shrouds lugger schooner bilge rat. Coffer clap of thunder lugsail Pieces of Eight doubloon Gold Road pillage.</p>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>